/*menu de navegacion*/
#navbarNav{
    justify-content: end;
    font-size: x-large;
    
}

.container-fluid {
    background-color: rgba(54,58,69,255);
}

.nav-item {
    padding-right: 30px;
}

/*----------------------cuerpo-------------------*/

body{
    background-image: url(../img/back2.jpg);
    background-size: 100%;
    background-repeat:round;
}

.cuerpo h1{
    background-color: rgb(66, 65, 67);
    background-repeat: repeat;
    font-family: 'Manuale', serif;
    color: rgb(237, 240, 234);
    letter-spacing: 8px;
    padding: 0 30px;
    text-align: center;
            
}


.cuerpo table{
    background-color: rgb(66, 65, 67);
    opacity: 0.9;
          
}

.foto {
    height: 10px;
    border: inset 5px gray;
    opacity: 1;
}

.cuerpo .descripcion{

    width: 100%;
    padding: 0 200px 0 20px ;
    font-family: 'Overlock', cursive;
    font-size:xx-large;
    text-align: justify;
    color:rgba(248, 249, 248, 0.872)

      
}


.cuerpo .precio{
    font-family: 'Dancing Script';
    font-size:x-large;
    text-align: center;
    color: rgba(248, 249, 248, 0.872);
}

.cuerpo .descripcion i{
    font-family: 'Amatic SC', cursive;
    font-size:x-large;
    color: rgb(255, 255, 255);
     
}



/*para el footer*/

body footer{
    display: flex;
    justify-content: center;
    gap: 500px;
    flex-direction: column;
    background-color:rgba(57, 58, 58, 0.644);
    background-size: 550px; 
    font-family: 'Manuale', serif;
    font-size: 20px; 
    color:antiquewhite;
    text-align: center;
}

.footer .loguito{
    padding-right:100px;
}
.footer .horarios{
    padding-left: 180px ;
}

.footer .buscanos{
    padding-left: 230px;
}












    

