/*menu de navegacion*/

const $dropdown = $(".dropdown");
const $dropdownToggle = $(".dropdown-toggle");
const $dropdownMenu = $(".dropdown-menu");
const showClass = "show";
 
$(window).on("load resize", function() {
  if (this.matchMedia("(min-width: 768px)").matches) {
    $dropdown.hover(
      function() {
        const $this = $(this);
        $this.addClass(showClass);
        $this.find($dropdownToggle).attr("aria-expanded", "true");
        $this.find($dropdownMenu).addClass(showClass);
      },
      function() {
        const $this = $(this);
        $this.removeClass(showClass);
        $this.find($dropdownToggle).attr("aria-expanded", "false");
        $this.find($dropdownMenu).removeClass(showClass);
      }
    );
  } else {
    $dropdown.off("mouseenter mouseleave");
  }
});

#navbarSupportedContent {
    justify-content:end;
    font-size: x-large;

    
  }
  
  .container-fluid {
    background-color: rgba(54, 58, 69, 2290);

    
  }

  .navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
   
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }

  

  
  
  /*.navbar .nav-item:not(:last-child) {
    margin-right: 35px;
  }
   
  .dropdown-toggle::after {
     transition: transform 0.15s linear; 
  }
   
  .show.dropdown .dropdown-toggle::after {
    transform: translateY(3px);
  }
  

  
  /*cuerpo*/
  
  body {
    background-image: url(../img/24131089_330194467448535_2491115651563731776_n.jpg);
    background-repeat: repeat;
    background-size: 100px;
  }
  
  .titulo {
    display: flex;
    background-color: rgba(48, 47, 47, 0.9);
    font-family: 'Allura';
    justify-content: center;
    color: rgb(239, 240, 241);
  
    h1 {
      font-size: xx-large;
    }
  }
  
  .todo {
    display: flex;
    text-align: center;
    font-size: large;
    padding: 50px 250px;
    color: rgb(239, 240, 241);
    justify-content: center;
    background-color: rgba(66, 65, 67, 0.87);
    margin-top: 10px;
  }
  
  /*para el footer*/
  
  .footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    gap: 500px;
    flex-direction: column;
    background-color: rgba(57, 58, 58, 0.726);
    opacity: 0.8;
    background-size: 550px;
    font-family: 'Manuale', serif;
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
  }