/*menu de navegacion*/

#navbarNav {
    justify-content: end;
    font-size: x-large;
  }
  
  .container-fluid {
    background-color: rgba(54, 58, 69, 2290);
  }
  
  .nav-item {
    padding-right: 30px;
  }
  
  /*cuerpo*/
  
  body {
    background-image: url(../img/24131089_330194467448535_2491115651563731776_n.jpg);
    background-repeat: repeat;
    background-size: 100px;
  }
  
  .titulo {
    display: flex;
    background-color: rgba(48, 47, 47, 0.9);
    font-family: 'Allura';
    justify-content: center;
    color: rgb(239, 240, 241);
  
    h1 {
      font-size: xx-large;
    }
  }
  
  .todo {
    display: flex;
    text-align: center;
    font-size: large;
    padding: 50px 250px;
    color: rgb(239, 240, 241);
    justify-content: center;
    background-color: rgba(66, 65, 67, 0.87);
    margin-top: 10px;
  }
  
  /*para el footer*/
  
  .footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    gap: 500px;
    flex-direction: column;
    background-color: rgba(57, 58, 58, 0.726);
    opacity: 0.8;
    background-size: 550px;
    font-family: 'Manuale', serif;
    font-size: 20px;
    color: antiquewhite;
    text-align: center;
  }