body {
    background-image: url(../img/24131089_330194467448535_2491115651563731776_n.jpg);
    background-repeat: repeat;
    background-size: 100px;
  }
  
  @media screen and (min-width: 800px) {
    /*------------------------------menu de navegacion-------*/
  
    #navbarNav {
      justify-content: end;
      font-size: x-large;
    }
  
    .container-fluid {
      background-color: rgba(54, 58, 69, 255);
      
    }
  
    .nav-item {
      padding-right: 30px;
    }
  
    /*------------logo home-----------------------------------------------------------------------------------------------------*/
  
    .imagen {
      display: flex;
      opacity: 0.8;
      justify-content: center;
    }
  
    /*--------imagenes+menu--------------------------------------------------------------------------------------*/
  
    #seccion {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 800px;
      gap: 5px;
    }
  
    .img1 {
      grid-column: 1/2;
      background-size: cover;
      background-image: url(../img/bebidas.jpg);
  
      a {
        text-decoration: none;
      }
  
      .img1__info {
        position: absolute;
        overflow: hidden;
        width: 50%;
        height: 800px;
        background-color: rgba(31, 31, 31, 0.9);
        opacity: 0;
        transition: opacity 0.3s;
      }
  
      &:hover .img1__info {
        opacity: 1;
      }
    }
  
    h1.bebidas {
      font-size: xx-large;
      margin-top: 150px;
      transition: margin-right 0.3s;
      text-align: center;
      color: aliceblue;
    }
  
    .img1:hover p.bebidas {
      margin-left: (115px,);
    }
  
    p.bebidas2 {
      font-size: x-large;
      text-align: center;
      margin-top: 200px;
      transition: margin-top 0.4s;
      color: antiquewhite;
    }
  
    .img1:hover p.bebidas2 {
      margin-top: 75px;
    }
  
    .img2 {
      grid-column: 2/3;
      background-size: cover;
      background-image: url(../img/comidas.jpg);
  
      a {
        text-decoration: none;
      }
  
      .img2__info {
        position: absolute;
        overflow: hidden;
        width: 50%;
        height: 800px;
        background-color: rgba(31, 31, 31, 0.9);
        opacity: 0;
        transition: opacity 0.3s;
      }
  
      &:hover .img2__info {
        opacity: 1;
      }
    }
  
    h1.comidas {
      font-size: xx-large;
      margin-top: 150px;
      transition: margin-right 0.3s;
      text-align: center;
      color: aliceblue;
    }
  
    .img2:hover p.comidas {
      margin-left: (115px,);
    }
  
    p.comidas2 {
      font-size: x-large;
      text-align: center;
      margin-top: 200px;
      transition: margin-top 0.4s;
      color: antiquewhite;
    }
  
    .img2:hover p.comidas2 {
      margin-top: 75px;
    }
  
    /*-----------------videos---------------------*/
  
    #videos {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 60px;
      background-color: rgba(0, 0, 0, 0.664);
  
      .video4 {
        flex-direction: column;
      }
    }
  
    /*area de contacto y mapa-----------------------------------------------------------------------------------------*/
  
    #contacto {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
  
      a {
        text-decoration: none;
      }
  
      .contacto__estamos {
        text-align: center;
        padding-top: 90px;
        color: antiquewhite;
        font-family: 'Manuale', serif;
  
        h1 {
          color: antiquewhite;
        }
      }
    }
  
    /*footer-------------------------------------------------------------------------------------------------------*/
  
    .footer {
      grid-area: footer;
      display: flex;
      justify-content: center;
      gap: 500px;
      flex-direction: column;
      background-color: rgba(57, 58, 58, 0.726);
      opacity: 0.8;
      background-size: 550px;
      font-family: 'Manuale', serif;
      font-size: 20px;
      color: antiquewhite;
      text-align: center;
    }
  }
  
  /*-----------------------------------------responsive----------------------------------------*/
  
  @media (min-width: 320px) and (max-width: 799px) {
    * {
      background-image: url(../img/24131089_330194467448535_2491115651563731776_n.jpg);
      background-repeat: repeat;
      background-size: 250px;
      margin: 0;
      padding: 0;
    }
  
    h1.comidas {
      display: none;
    }
  
    p {
      &.comidas2, &.bebidas2 {
        display: none;
      }
    }
  
    h1.bebidas {
      display: none;
    }
  
    #videos {
      .video3, .video4 {
        display: none;
      }
    }
  
    .footer {
      display: none;
    }
  
    #videos .video1 {
      display: flex;
      justify-content: center;
    }
  
    #contacto {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      text-align: center;
      padding-top: 5px;
  
      a {
        text-decoration: none;
      }
  
      .contacto__estamos {
        text-align: center;
        padding-top: 5px;
        color: antiquewhite;
        font-family: 'Manuale', serif;
      }
    }
  }